*{
    margin:0px;
    padding:0px;
}
body {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body{
    display:flex;
    align-items: center;
    vertical-align: center;
    flex-direction: column;
    background-color: #1E1E1E;
    height:100vh;
}
#heading{
    padding:50px;
    color: #F5F5F5;
    font-size: 2rem;

}
#question{
    color:#646262;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.options ul li button{
    text-align: left;
    padding:10px;
    border-radius: 8px;
    margin:5px 0px;
    display:block;
    width:98%;
}
.options ul li button:hover{
    background-color: #218838;
}

.box{
    margin-top:3%;
    width:80%;
    background-color: white;
    border-radius: 12px;
    border-color: black;
    padding:20px;
    padding-left:2%;
    /* padding-bottom:40px; */
    box-shadow:rgba(0,0,0,0.2);
    font-size:x-large;
}
.navigation button{
    background-color:#28A745;
    border-radius: 8px;
    padding:10px 20px;
    font-size: 16px;
    color:white;
}
.navigation{
    margin-left:80%;
    padding-bottom:0px;
    margin-top: 10%;
}
#submit{
    background-color:#28A745;
    border-radius: 8px;
    padding:10px 20px;
    font-size: 16px;
    color:white;
    display:block;
    margin:20px auto;

    
}
.options{
    padding-top:40px;
}
#option_list li{
    list-style: none;

}